:root {
    --bill-width: 50vw;
}

.bill-body {
    font-size: 22px;
    box-sizing: border-box;
    width: var(--bill-width);
    margin: 10px var(--left-space);
    padding: 30px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

.bill-item, .bill-quantity, .bill-price {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.bill-quantity {
    margin: 0 10px;
}

.bill-item>p {
    text-align: left;
}

.bill-quantity>p {
    text-align: center;
}

.bill-price>p {
    text-align: right;
}

.bill-body p {
    margin-bottom: 17px;
}

.bill-title {
    font-weight: 700;
}

@media (max-width: 800px) {
    :root {
        --bill-width: 90%;
    }
    .bill-body {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .bill-body {
        font-size: 18px;
        padding: 30px 20px;
    }
}