:root {
    --left-space: 21px;
    --option-width: 172px;
    --option-height: 240px;
    --illustration-width: 144px;
    --button-div-height: 75px;
    --price-and-quantity-bottom: 10px;
    --bill-width: 50vw;
}

body {
    background-color: rgb(229, 229, 229);
}

ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: calc(var(--option-height) + 10px);
    padding-left: 3px;
    padding-bottom: 5px;
}

ul::-webkit-scrollbar {
    height: 6px;
}

ul:hover::-webkit-scrollbar-track {
    background-color: none;
}

ul:hover::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 1);
    border-radius: 5px;
}

ul:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 180, 180, 1)
}

.header {
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 5px var(--left-space);
    margin-bottom: 20px;
    background-color: #CF2B2B;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    margin-bottom: 5px;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.content {
    margin-bottom: calc(var(--button-div-height) + 15px);
}

.section {
    margin-bottom: 27px;
}

.section-name {
    font-family: 'Righteous', cursive;
    color: #333333;
    font-size: 26px;
    margin-left: var(--left-space);
    margin-bottom: 17px;
}

.option {
    box-sizing: border-box;
    width: var(--option-width);
    height: var(--option-height);
    padding: 15px calc((var(--option-width) - var(--illustration-width))/2);
    border-radius: 9px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.25);
}

.option:first-child {
    margin-left: var(--left-space);
}

.option img {
    width: var(--illustration-width);
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.option p {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.option-name {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.option-description {
    font-size: 15px;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

.price {
    position: absolute;
    bottom: var(--price-and-quantity-bottom);
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.option .quantity-container {
    font-size: 16px;
    position: absolute;
    right: calc((var(--option-width) - var(--illustration-width))/5);
    bottom: var(--price-and-quantity-bottom);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.option button {
    font-size: inherit;
    text-align: center;
    padding: 0px;
    width: 20px;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.option .add-button {
    color: rgb(39, 125, 37);
}

.option .remove-button {
    color: rgb(200, 0, 0);
}

.bottom-button-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--button-div-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-button-container button {
    width: 50vw;
    height: 61px;
}

.confirmation-button {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 50px;
}

.enabled-button {
    background-color: #32B72F;
    cursor: pointer;
}

.disabled-button {
    background-color: #CBCBCB;
    cursor: not-allowed;
}

.order-buttons-container {
    width: var(--bill-width);
    margin: 25px var(--left-space);
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-buttons-container>button:first-child {
    width: 30vw;
    height: 61px;
}

.cancel-button {
    font-size: 20px;
    color: rgba(119, 119, 119, 1);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bill-body {
    box-sizing: border-box;
    width: var(--bill-width);
    margin: 10px var(--left-space);
    padding: 30px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

.bill-body>div p {
    font-size: 22px;
    margin-bottom: 17px;
}

.bill-body>div p:last-child {
    font-weight: 700;
}

.items-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.active {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.hidden {
    display: none;
}

@media (max-width: 800px) {
    :root {
        --bill-width: 90%;
    }
    .bottom-button-container button {
        width: 70vw;
    }
    .bill-body {
        margin: 0 auto;
    }
    .order-buttons-container {
        margin: 50px auto 0;
    }
    .order-buttons-container>button:first-child {
        width: 50%;
    }
}

@media (max-width: 600px) {
    :root {
        --button-div-height: 70px;
    }
    .bottom-button-container button {
        width: 95vw;
    }
    .order-buttons-container>button:first-child {
        width: 90%;
        height: 50px;
    }
}