:root {
    --left-space: 21px;
    --option-width: 172px;
    --illustration-width: 144px;
    --button-div-height: 92px;
    --option-height: 202px;
    --price-and-checked-bottom: 10px;
}

body {
    background-color: #E5E5E5;
}

ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: calc(var(--option-height) + 10px);
    padding-left: 3px;
    padding-bottom: 5px;
}

ul::-webkit-scrollbar {
    height: 5px;
}

ul:hover::-webkit-scrollbar-track {
    background-color: none;
}

ul:hover::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 1);
    border-radius: 5px;
}

ul:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 180, 180, 1)
}

.header {
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 18px var(--left-space);
    margin-bottom: 31px;
    background-color: #CF2B2B;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    margin-bottom: 5px;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.content {
    margin-bottom: calc(var(--button-div-height) + 15px);
}

.section {
    margin-left: var(--left-space);
    margin-bottom: 27px;
}

.section-name {
    font-family: 'Righteous', cursive;
    color: #333333;
    font-size: 26px;
    margin-bottom: 17px;
}

.option {
    box-sizing: border-box;
    width: var(--option-width);
    height: var(--option-height);
    padding: 15px calc((var(--option-width) - var(--illustration-width))/2);
    border-radius: 9px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.25);
    ;
}

.option img {
    width: var(--illustration-width);
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.option p {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.option-name {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.option-description {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
}

.price {
    position: absolute;
    bottom: var(--price-and-checked-bottom);
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.icon {
    font-size: 20px;
    color: #32B72F;
    position: absolute;
    right: calc((var(--option-width) - var(--illustration-width))/2);
    bottom: var(--price-and-checked-bottom);
}

.bottom-button {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--button-div-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.bottom-button>input[type="button"] {
    border-radius: 50px;
    width: 350px;
    Height: 61px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    border: none;
}

.button-enabled {
    background-color: #32B72F;
    cursor: pointer;
}

.button-disabled {
    background-color: #CBCBCB;
    cursor: not-allowed;
}

.bill-background {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bill-confirmation {
    width: 337px;
    height: 355px;
    border-radius: 9px;
    background-color: #50D074;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bill-confirmation input {
    font-weight: 700;
    height: 52px;
}

.bill-title {
    height: 20px;
    font-weight: 700;
    height: 52px;
    display: flex;
    align-items: center;
}

.bill-body {
    width: 90%;
    height: auto;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

.bill-body>div p {
    margin-bottom: 17px;
}

.bill-body>div p:last-child {
    font-weight: 700;
}

.items-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bill-confirmation-button {
    font-size: inherit;
    color: #50D074;
    width: 90%;
    border: none;
    background-color: #FFF;
    border-radius: 100px;
}

.bill-cancel-button {
    font-size: 20px;
    color: inherit;
    background-color: inherit;
    border: none;
}

.active {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}

.hidden {
    display: none;
}
