.header {
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 5px var(--left-space);
    margin-bottom: 30px;
    background-color: #CF2B2B;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #fff;
    margin-bottom: 5px;
}

.slogan {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}