:root {
    --option-width: 172px;
    --option-height: 240px;
    --illustration-width: 144px;
    --price-and-quantity-bottom: 10px;
}

.option {
    box-sizing: border-box;
    width: var(--option-width);
    height: var(--option-height);
    padding: 15px calc((var(--option-width) - var(--illustration-width))/2);
    border-radius: 9px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px -4px rgba(0, 0, 0, 0.25);
}

.option:first-child {
    margin-left: var(--left-space);
}

.option img {
    width: var(--illustration-width);
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.option p {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.option-name {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.option-description {
    font-size: 15px;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

.price {
    position: absolute;
    bottom: var(--price-and-quantity-bottom);
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.active {
    box-shadow: inset 0px 0px 0px 5px #32B72F;
}
