.option .quantity-container {
    font-size: 16px;
    position: absolute;
    right: calc((var(--option-width) - var(--illustration-width))/5);
    bottom: var(--price-and-quantity-bottom);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.option button {
    font-size: inherit;
    text-align: center;
    padding: 0px;
    width: 20px;
    border-radius: 50%;
    border: none;
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.option .add-button {
    color: rgb(39, 125, 37);
}

.option .remove-button {
    color: rgb(200, 0, 0);
}