.section {
    margin-bottom: 27px;
}

ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: calc(var(--option-height) + 10px);
    padding-left: 3px;
    padding-bottom: 5px;
}

ul::-webkit-scrollbar {
    height: 6px;
}

ul:hover::-webkit-scrollbar-track {
    background-color: none;
}

ul:hover::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 1);
    border-radius: 5px;
}

ul:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(180, 180, 180, 1)
}